<md-dialog aria-label="login">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
            <span>Sign in dailog</span>
        </h1>
    </md-toolbar>
    <md-content >

        <section layout="row">
            <form style="padding: 20px;" flex>
                <div layout="column" layout-align="center">
                    <md-text-float label="E-mail" ng-model="user.email" type="email"></md-text-float>
                    <md-text-float label="Password" ng-model="user.password" type="password"></md-text-float>
                </div>
            </form>
            <section layout="column" style="padding: 20px;" flex layout-align="center">
                <p>Or you can use your Facebook account</p>
                <md-button>Facebook</md-button>
            </section>
        </section>

    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('not useful')">
            Close
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Sign in
        </md-button>
    </div>
</md-dialog>